*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "vazirmatn" , sans-serif;
}
body{
    background-color:  rgba(255, 255, 255, 1);
    line-height: 1.6;
    direction: rtl;
}
.container{
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
}
.site-header{
    width: 100%;
    max-width: 1224px;
    margin:20px auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.header-wrapper{
    width: 100%;
    max-width: 1039px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.logo{
    width: 100%;
    max-width: 128px;
    height: auto;
}
.logo-main{
    width: 100%;
    max-width: 127.41px;
    height: 27.18px;
    transform: translateX(5px);
}
.header-search{
    width: 100%;
    max-width: 598px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    position: relative;
}
.search-icon{
    position: absolute;
    right:14%;
    bottom: 5px;
}
.search-input{
    width: 100%;
    max-width: 525px;
    height: 41px;
    border-radius: 13.57px;
    border: 1px solid rgba(237, 237, 237, 1);
    padding-right:40px;
    font-size: 0.7rem;  
    color:rgba(134, 134, 134, 1) ;
    font-weight: 400;
}
.header-action-group{
   /* min-width: 200px;
    max-width: 250px;*/
    width: 100%;
    max-width:200px ;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 5px;
    justify-content: end;
}
.icon-button{
    width: 100%;
    max-width: 62px;
    height: 41px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 15px #e0e0e0;
    border: 2px solid  rgba(255, 255, 255, 1);
    cursor: pointer;
    transform: translateY(-5px);
} 
.icons-group{
    position: relative;
    transform: translateX(-10px);
} 
.notification-badge{ 
    position: absolute;
    top:-4px;
    left:-4px;
    z-index: 1;
}
.main-nav{
    width: 100%;
    max-width: 1039px;
    margin: 25px auto;
    border-radius: 13.57px;
    background-color: rgba(249, 249, 249, 1);
}
.menu-item:hover{
    cursor: pointer;
}
.nav-list{
    width: 100%;
    max-width: 1039px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-item{
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding: 35px;
    list-style: none;
    font-size: 0.875rem;
    font-weight: 400;
}
 .main-nav .menu-item{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icon-text-gap{
    display: flex;
    gap: 3px;
}
.breadcrumb{
    width: 100%;
    max-width: 1039px;
    height: 36px;
    display: flex;
    align-items: center;
    gap: 43px;
    margin: 5px auto;
}
.btn{
    width: 100%;
    max-width: 96px;
    height: 36px;
    border-radius: 13.57px;
    border: none;
    background-color:rgba(235, 245, 255, 1);
}
.btn-text{
    color:rgba(25, 65, 101, 1);
    font-size: 12px;
}
.breadcrumb-link{
    text-decoration: none; 
}
.breadcrumb-link:hover{
    cursor: pointer;
}
.breadcrumb-item{
    font-size: 0.75rem;
    color:rgba(0, 3, 6, 1);
}
.breadcrumb-nav-link{
    margin-right: -5px;
}
.header-search-bottom-box{
    width: 100%;
    max-width: 1039px;
    height: 41px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-top: 25px;
}
.header-search-bottom-input{
    width: 100%;
    max-width:421px;
    height: 41px;
    border-radius: 6.78px;
    border:0.85px solid rgba(237, 237, 237, 1);
    font-size:0.75rem;
    font-weight: 400;
    padding-right: 38px;
    color: rgba(134, 134, 134, 1);
}
.search-icon-bottom{
    position: absolute;
    right: 14px;
}
/*faq*/
.faq{
    width: 100%;
    max-width: 1039px;
    min-height: 1000px;
    display: flex;
    flex-direction: row;
    margin: 0 auto ;
    padding-top: 5px;
    gap: 5px;
}
.faq-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.faq-header{
    width: 100%;
    max-width: 773px;
    margin-right: 20px;
}
.faq-title-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.faq-title{
    font-weight: 400;
    font-size: 24px;
}
.faq-item details{
    width: 100%;
    min-width: 760px;
    max-width: 780px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 6.78px;
}
details[open]{
    background-color: rgba(249, 249, 249, 1);
    min-height: 133px;
    margin-right: 18px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 5px;
}
.faq-question-text{
    font-size:14px;
    font-weight: 400;
}
.faq-answer{
    width: 100%;
    max-width: 730px;
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(64, 64, 64, 1);
    padding-right: 20px;
    padding-bottom: 20px;
}
details[open] .faq-icon{
    transform: rotate(180deg) scale(1.1); 
    transition: transform 0.3s ease;
}
.faq-question{
    width: 100%;
    max-width: 735px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
}
.faq-categories-item{
    width: 100%;
    min-width: 244.25px;
    max-width: 260px;
    height: 57.67px;
    border: none;
    background-color: rgba(249, 249, 249, 1);
    border-radius: 6.78px;
    font-size: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
    padding-right: 20px;
}
.faq-categories{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.faq-categories-item--active{
    background-color: rgba(254, 238, 232, 1);
}
.faq-categories-item--active:hover,.faq-categories-item{
    cursor: pointer;
}
/*footer*/
.footer{
    width: 100%;
    max-width: 1224px;
    margin: 20px auto;
    background-color: rgba(2, 21, 38, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-widgets{
    width: 100%;
    max-width: 1010px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px auto;
}
.footer-text,.footer-text-muted,.list-item-footer{
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.list-item-footer{
    color: rgba(203, 203, 203, 1);
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.list-item-footer:hover{
    cursor: pointer;
}
.footer-text{
    margin-right: -20px;
}
.footer-text-muted{
    padding-bottom: 15px;
}
.newsletter-input{
    width: 100%;
    min-width: 281px;
    max-width: 300px;
    height: 33px;
    border-radius: 6.8px;
    border: 0.85px solid rgba(134, 134, 134, 1);
    color: rgba(134, 134, 134, 1);
    background-color: rgba(2, 21, 38, 1);
    padding-right: 30px;
}
.newsletter-input,.footer-note,.footer-social{
    font-size:10px;
    font-weight: 400;
}
.newsletter-submit{
    width: 100%;
    min-width: 43px;
    max-width: 50px;
    height: 21px;
    background-color:rgba(250, 84, 28, 1) ;
    border-radius: 3.4px;
    border: none;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    bottom: 14%;
    left: -7%;
}
.footer-note{
    color: rgba(249, 249, 249, 1);
}
.footer-bottom{
    width: 100%;
    max-width: 1223px;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-top: 2px solid rgba(203, 203, 203, 1);
    padding: 0 50px;
}
.inline-text{
    font-size:8px ;
    font-weight:400 ;
    color:rgba(173, 173, 173, 1);
}
.footer-social-item{
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer-meta{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}
.footer-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(249, 249, 249, 1);
    gap: 20px;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-list-offset{
    margin-top: -10px;
}
.text-highlight{
    color: rgba(250, 84, 28, 1);
    padding-right: 10px;
}
.newsletter{
    width: 100%;
    max-width: 280px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    padding-right: 25px;
}
.newsletter-icon{
    position: absolute;
    bottom: 15%;
    right: 13%;
}
.footer-description{
    padding-right: 20px;
    padding-top: 8px;
}
.footer-icons{
    padding-bottom: 30px;
}
.footer-bottom-item{
    margin-left: 40px;
}
.footer-bottom-social{
    margin-right: 30px;
}
/*/hamburger menu*/
.header-wrapper{
    width: 100%;
    max-width: 1039px;
    padding: 16px;
    height: 86px;
    margin: 0 auto;
    position: relative;
}
.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    z-index:101 ;
}
.hamburger span {
    height: 3px;
    width: 20px;
    margin-top: 3px;
    background-color:rgba(12, 12, 12, 1);
    transition: all  0.3s ease;
}
input[type="checkbox"]{
    display: none;
}
.header-mobile,.header-search-mobile,.nav,.details-container,.fitland-info,.footer-image,.footer-text-secondary,.arrow-left,.mibashad{
    display: none;
}
@media(max-width:768px){
.logo,.header-search,.header-action-group,.main-nav,.breadcrumb,.header-search-bottom-box,.faq-categories,.footer-list,.footer-info-inner{
    display: none;
}
.header-mobile,.header-search-mobile,.nav,.arrow-left,.details-container,.fitland-info,.footer-image,.footer-text-secondary,.arrow-left,.mibashad{
    display: block;
}
.container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    direction: rtl;
}
/*header-statu*/
.header-status{
    width: 100%;
    min-width: 250px;
    max-width: 270px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight:300;
    padding-top: 10px;
}
.header-wrapper,.site-header ,.header-mobile{
    margin: 0px auto; 
}
input[type="checkbox"]{
    display: none;
}
/*hamburger-menu-mobile*/
.logo-hamburger-mobile .header-actions{
    order: 3;
    display: flex;
    gap: 6px;
    padding-left: 8px;
}
.logo-hamburger-mobile .logo-mobile{
    display: flex;
    order: 2;
}
.mobile-logo{
    width: 100%;
    min-width: 76px;
    max-width: 85px;
    height: 30px;
    letter-spacing: 10px;
    padding-top: 10px;
}
.logo-hamburger-mobile .hamburger{
    display: flex;
    order: 1;
}
.nav{
    display: flex;
    justify-content: flex-start;
    flex: 1;
    margin-right: 30px;
    position: absolute;
    top: 90px;
    right: 0;
    width: 100%;
    background-color:rgba(255,84,28,1);
    flex-direction: column;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 3s ease;
    z-index: 1000;
}
.nav-list-mobile{
    display: flex;
    list-style: none;
    gap: 80px;
    flex-direction: column;
    gap:0;
    width:100%;
}
.nav-item-mobile a {
    color:blueviolet;
    text-decoration: none;
}
.nav .nav-item-mobile {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(237,237,237,1);
    display:flex;
    align-items: center;
}
.header-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.logo-hamburger-mobile{
    width: 100%;
    min-width: 285px;
    max-width: 290px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.hamburger-toggle:checked ~ .nav {
    max-height: 500px;
}
.header-search-mobile{
    width: 100%;
    min-width: 264px;
    max-width: 300px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    padding-right: 10px;
}
.search-icon-mobile{
    position: absolute;
    z-index: 10;
    top: 6px;
    right: 27px;
}
.search-input-mobile{
    width: 100%;
    min-width: 263px;
    max-width: 280px;
    height: 34px;
    border-radius: 13.57px;
    background-color:rgba(249, 249, 249, 1);
    padding-right: 43px;
    z-index: 7;
    border: none;
    font-weight: 400;
    font-size: 10px;
    color:rgba(134, 134, 134, 1);
}
.header-wrapper{
    height: auto;
    flex-wrap: wrap;
    position: relative;
}
/*faq*/
.faq{
    min-height: 1000px;
}
.faq-content{
    gap: 5px;
}
.faq,.faq-content{
    width: 100%;
    max-width: 264px;
    margin: 0 auto;
}
.faq-header{
    width: 100%;
    min-width: 275px;
    max-width: 310px;
    display: flex;
    justify-content:space-between;
    padding-right: 10px;
    margin: 10px auto;
} 
.arrow-left{
    order: 3;
}
.faq-title{
    font-size: 0.75rem;
    order: 2;
}
.faq-title-icon{
    order: 1;
}
.faq-list{
    width: 100%;
    max-width: 264px;
    grid-template-columns: 264px;
    grid-template-rows: repeat(6,113px);
    padding-right: 10px;
    gap: 5px;
}
.faq-question-text{
    font-size: 10.18px;
    padding-right: 0;
}
.faq-answer{
    padding-right: 5px;
}
.faq-item .faq-question{
    width: 100%;
    min-width: 264px;
    max-width: 270px;
    padding: 5px;
    border-radius: 0px;
}
.faq-item details{
    width: 100%;
    min-width: 264px;
    max-width: 270px;
    margin: 0 auto;
}
details[open]{
    min-height: 120px;
    margin:10px 0 5px;
    gap: 0;
}
.faq-icon-inline{
    margin-top: -15px;
}
.faq-question{
    margin: 10px auto;
}
details[open] .faq-icon-mobile{
    margin-top: -15px;
}
.faq-question-text-mobile{
    width: 200px;
}
/*/footer*/
.details-container{
    width: 100%;
    max-width: 390px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 224px;
    margin: 10px 0 50px 0;
}
.footer-description,.footer-text-secondary,.summary-text-footer,.brand-text,.footer-list-item,.footer-about-muted{
    font-weight: 400;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 1);
}
.footer-icons{
    padding: 20px 25px 20px 0;
}
.footer-text-secondary{
    padding-bottom: 10px;
    margin-right: 5px;
}
.newsletter{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    gap: 0;
    min-width: 280px;
    max-width: 290px;
    padding-right: 0;
}
.custom-hr{
    width: 100%;
    max-width: 278px;
    min-width: 269px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: rgba(25, 65, 101, 1);
    height: 1px;
    border: none;
    transform: translateX(-5px);
}
.footer{
    display: block;
    width: 100%;
    max-width: 330px;
    background-color: rgba(2, 21, 38, 1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.newsletter-input{
    width: 100%;
    max-width: 265px;
    height: 33px;
    margin: 0 auto;
}
.newsletter-input,.about-fitland{
    font-size: 10px;
    font-weight: 400px;
}
.accordion-summary{
    cursor: pointer;
    list-style: none;
}
.summary-icon-footer{
    position:absolute;
    left: 7%;  
}
.summary-text-footer{
    padding-right: 30px;
}
.brand-text{
    margin-bottom: 30px;
}
.brand-text,.accordion-summary,.summary-text-footer{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(237, 237, 237, 1);
}
.about-fitland{
    width: 100%;
    max-width: 312px;
    color:rgba(237, 237, 237, 1);
    font-size: 11px;
}
.footer-about-muted{
    color:rgba(173, 173, 173, 1);
}
.footer-about-item{
    color: rgba(173, 173, 173, 1);
    list-style: none;
    padding:10px 0 20px 0;
    font-size: 12px;
}
.text-footer-light{
    color:#fa541c;
}
.footer-social{
    width: 100%;
    max-width:251px ;
    margin-right: 40px;
    gap: 15px;
    margin-top: 15px;
    padding-bottom: 5px;
}
.footer-bottom{
    display: flex;
    flex-direction: column;
    gap:0;
    padding:10px 25px 50px 0px;
}
.footer-social-item{
    color: rgba(173, 173, 173, 1);
    display: flex;
    align-items: flex-start;
}
.footer-bottom-social,.footer-bottom-item{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.footer-trust{
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-image{
    width: 100%;
    min-width: 327px;
    max-width: 340px;
    height: 40px;
    margin: 0 auto;
    position: absolute;
    bottom: -3%;
    left: 0;
}
.newsletter-icon{
    right: 5%;
    bottom:5%;
}
.newsletter-submit{
    left: 4%;
    bottom:3%;
}
.media-title{
    font-size: 10px;
}
.fitland-info{
    margin-right: 30px;
}
.footer-description{
    padding-right:45px;
}
.footer-widgets{
    margin: 20px auto;
}
.mibashad{
    display: block;
    text-align: center;
}
.footer-bottom-social{
    margin-right: 0;
}
.footer-bottom-item{
    margin-right: 10px;
}
.about-fitland-muted{
    color: rgba(173, 173, 173, 1);
}
.inline-text{
    font-size: 9px;
}



}


