*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "vazirmatn" , sans-serif;
}
body{
    background-color:  rgba(255, 255, 255, 1);
    line-height: 1.6;
    direction: rtl;
}
.container{
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
}
/*header*/
.site-header{
    width: 100%;
    max-width: 1224px;
    margin:20px auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.header-wrapper{
    width: 100%;
    max-width: 1039px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
.logo{
    width: 100%;
    max-width: 128px;
    height: auto;
}
.logo-main{
    width: 100%;
    max-width: 127.41px;
    height: 27.18px;
}
/*header-search*/
.header-search{
    width: 100%;
    max-width: 598px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    position: relative;
}
.search-icon{
    position: absolute;
    right:14%;
    bottom: 5px;
}
.search-input{
    width: 100%;
    max-width: 525px;
    height: 41px;
    border-radius: 13.57px;
    border: 1px solid rgba(237, 237, 237, 1);
    padding-right:40px;
    font-size: 11px;  
    color:rgba(134, 134, 134, 1) ;
    font-weight: 400;
}
/*icons-wrapper*/
.icons-wrapper{
    width: 100%;
    max-width: 218px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 15px;
    transform: translateX(30px);
}
.icon-button{
    width: 100%;
    max-width: 62px;
    height: 41px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 15px #e0e0e0;
    border: 2px solid  rgba(255, 255, 255, 1);
    cursor: pointer;
    margin-right: auto;
} 
.icons-group{
    position: relative;
    margin-left: -30px;
    transform: translateY(2px);
} 
.big-circle{ 
    position: absolute;
    top:-4px;
    left:-4px;
    z-index: 1;
}
.size-icon{
    font-size: 10px;
}
/*main-nav*/
.main-nav{
    width: 100%;
    max-width: 1039px;
    margin: 25px auto;
    border-radius: 13.57px;
    background-color: rgba(249, 249, 249, 1);
    margin-top: px;
}
.nav-list{
    max-width: 1039px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-item{
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding: 35px;
    list-style: none;
    font-size: 13.57px;
    font-weight: 400;
}
 .main-nav .menu-item{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-icon-matn{
    display: flex;
    gap: 3px;
}
/*breadcrumb*/
.breadcrumb{
    width: 100%;
    max-width: 1039px;
    height: 36px;
    display: flex;
    align-items: center;
    gap: 43px;
    margin: 5px auto;
}
.btn{
    width: 100%;
    max-width: 96px;
    height: 36px;
    border-radius: 13.57px;
    border: none;
    background-color:rgba(235, 245, 255, 1);
}
.text-btn{
    color:rgba(25, 65, 101, 1);
    font-size: 11.87px;
}
.arrow{
    text-decoration: none; 
}
.item{
    font-size: 11.87px;
    color:rgba(0, 3, 6, 1);
}
.item-link{
    margin-right: -5px;
}
/*-header-search-bottom*/
.header-search-bottom-box{
    width: 100%;
    max-width: 1039px;
    height: 41px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-top: 25px;
}
#header-search-bottom{
    width: 100%;
    max-width:421px;
    height: 41px;
    border-radius: 6.78px;
    border:0.85px solid rgba(237, 237, 237, 1);
    font-size: 12px;
    font-weight: 400;
    padding-right: 38px;
    color: rgba(134, 134, 134, 1);
}
.search-icon-bottom{
    position: absolute;
    right: 14px;
}
/*features-section*/
.features-section{
    width: 100%;
    max-width: 1039px;
    height: 950px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0 auto ;
    padding-top: 5px;
}
.section-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.icon-text-wrapper{
    width: 100%;
    max-width: 773px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.text-wrapper{
    font-weight: 400;
    font-size: 23.75px;
    color: rgba(0, 3, 6, 1);
}
.text-icon-box{
    display: grid;
    grid-template-columns:773.45px;
    grid-template-rows:133.63px  114.63px  133.63px  133.63px 114.63px 114.63px;
    gap: 15px;
}
.promo-box{
    background-color: rgba(249, 249, 249, 1);
    border-radius: 6.78px;
}
.text-summary{
    font-size: 13.57px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}
.gray-text{
    font-size: 11.87px;
    font-weight: 400;
    color: rgba(64, 64, 64, 1);
    padding-right: 20px;
}
details[open] .summary-icon{
  transform: rotate(180deg) scale(1.1); 
  transition: transform 0.3s ease;
}
.faq-summary{
    width: 100%;
    max-width: 735px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}
.contain-btn{
    width: 100%;
    min-width: 244.25px;
    max-width: 260px;
    height: 57.67px;
    border: none;
    background-color: rgba(249, 249, 249, 1);
    border-radius: 6.78px;
    font-size: 11.87px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
    padding-right: 20px;
}
.buttons-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.pinck-btn{
    background-color: rgba(254, 238, 232, 1);
}
/*footer*/
.footer-content{
    width: 100%;
    max-width: 1224px;
    height: 474px;
    margin: 20px auto;
    background-color: rgba(2, 21, 38, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-weidget{
    width: 100%;
    max-width: 1010px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px auto;
}
.list-item{
    font-weight:400 ;
    font-size:11.89px ;
    color: rgba(203, 203, 203, 1);
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.footer-matn{
    font-size: 11.89px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-right: -20px;
}
.footer-matn1{
    font-size: 11.89px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 15px;
}
.email-input{
    width: 100%;
    min-width: 280px;
    max-width: 300px;
    height: 33px;
    border-radius: 6.8px;
    border: 0.85px solid rgba(134, 134, 134, 1);
    font-weight: 400;
    font-size: 10.19px;
    color: rgba(134, 134, 134, 1);
    background-color: rgba(2, 21, 38, 1);
    padding-right: 35px;
}
.btn-action{
    min-width: 43px;
    max-width: 48px;
    height: 21px;
    background-color:rgba(250, 84, 28, 1) ;
    border-radius: 3.4px;
    border: none;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    bottom: 15.5%;
    left: -7%;
}
.font-text{
    font-size:10.19px ;
    font-weight: 400;
    color: rgba(249, 249, 249, 1);
}
.media-box{
    width: 100%;
    max-width: 1155px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 50px;
}
.line-hr{
    margin-top: 5px;
}
.inline-text{
    font-size:8.49px ;
    font-weight:400 ;
    color:rgba(173, 173, 173, 1);
}
.media-item{
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer-info{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    transform: translateX(-5px);
}
.media-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 10.19px;
    color: rgba(249, 249, 249, 1);
    gap: 20px;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-menu1{
    margin-top: -10px;
}
.orange-text{
    color: rgba(250, 84, 28, 1);
    padding-right: 10px;
}
.action-box{
    width: 100%;
    max-width: 280px;
    height: 200px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    padding-right: 25px;
}
.input-icon{
    position: absolute;
    bottom: 17%;
    right: 13%;
}
.footer-text1{
    padding-right: 20px;
    padding-top: 8px;
}
.icon-list{
    padding-bottom: 30px;
}
.media-item1{
    transform: translateX(-10px);
}
/*/hamburger menu*/
.header-wrapper{
    width: 100%;
    max-width: 1039px;
    padding: 16px;
    height: 86px;
    margin: 0 auto;
    position: relative;
}
.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    z-index:101 ;
}
.hamburger span {
    height: 3px;
    width: 20px;
    margin-top: 3px;
    background-color:rgba(12, 12, 12, 1);
    transition: all  0.3s ease;
}
input[type="checkbox"]{
    display: none;
}
.header-mobile,.header-search-mobile,.nav,.icon-text-wrapper-m,.text-summary-m,.footer-mobile{
    display: none;
}
@media(max-width:768px){
.logo,.header-search,.icons-wrapper,.main-nav,.breadcrumb,.header-search-bottom-box,.footer-content,.buttons-container,.icon-text-wrapper,.text-summary-d{
    display: none;
}
.header-mobile,.header-search-mobile,.nav,.arrow-left,.icon-text-wrapper-m,.text-summary-m,.footer-mobile{
    display: block;
}
.container{
    width: 100%;
    max-width: 306px;
    height: auto;
    margin: 0 auto;
    direction: rtl;
}
/*icon-text-mobile*/
.icon-text-mobile{
    min-width: 265px;
    max-width: 290px;
    display: flex;
    justify-content: space-between;
    font-size: 10.9px;
    font-weight:300;
    padding-top: 10px;
}
.header-wrapper,.site-header ,.header-mobile{
    margin: 0px auto; 
}
input[type="checkbox"]{
    display: none;
}
/*/hamburger-menu-for-mobile*/
.icon-wrapper{
    order: 3;
    display: flex;
    gap: 6px;
    padding-left: 8px;
}
.logo-mobile{
    order:2;
}
.mobile-logo{
    min-width: 76px;
    max-width: 85px;
    height: 30px;
    letter-spacing: 10px;
    padding-top: 10px;
}
.hamburger{
    display: flex;
    order: 1;
}
.nav{
    display: flex;
    justify-content: flex-start;
    flex: 1;
    margin-right: 30px;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color:rgba(255,84,28,1);
    flex-direction: column;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 3s ease;
}
.nav-list1{
    display: flex;
    list-style: none;
    gap: 80px;
    flex-direction: column;
    gap:0;
    width:100%;
}
.nav-item1 a {
    color:blueviolet;
    text-decoration: none;
}
.nav .nav-item1 {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(237,237,237,1);
    display:flex;
    align-items: center;
}
.header-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.logo-hamburger-mobile{
    min-width: 280px;
    max-width: 290px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.hamburger-toggle:checked ~ .nav {
    max-height: 500px;
}
.header-search-mobile{
    width: 100%;
    min-width: 264px;
    max-width: 300px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    padding-right: 10px;
}
.search-icon-mobile{
    position: absolute;
    z-index: 10;
    top: 6px;
    right: 27px;
}
.search-input-mobile{
    min-width: 263px;
    max-width: 280px;
    height: 34px;
    border-radius: 13.57px;
    background-color:rgba(249, 249, 249, 1);
    padding-right: 43px;
    z-index: 7;
    border: none;
    font-weight: 400;
    font-size: 10.19px;
    color:rgba(134, 134, 134, 1);
}
.header-wrapper{
    height: auto;
    flex-wrap: wrap;
    position: relative;
}
/*features-section*/
.features-section{
    width: 100%;
    max-width: 264px;
    margin: 0 auto;
}
.section-wrapper{
    width: 100%;
    max-width: 264px;
    margin: 0 auto;
}
.icon-text-wrapper-m{
    width: 100%;
    max-width: 290px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    margin: 10px auto;
}
.arrow-left{
    transform: translateX(-8px);
}
.promo-box-m{
    display: flex;
    align-items: center;
    gap: 5px;
}
.text-wrapper{
    font-size: 11.87px;
    order: 2;
}
.icon-wrapper{
    order: 1;
}
.text-icon-box{
    width: 100%;
    max-width: 264px;
    grid-template-columns: 264px;
    grid-template-rows: repeat(6,113px);
    padding-right: 10px;
    gap: 5px;
}
.text-summary,.text-summary-m{
    font-size: 10.18px;
}
.gray-text{
    font-size: 11.87px;
}
.promo-box{
    padding: 0 5px;
    border-radius: 0px;
}
.faq-summary{
    margin: 8px auto;
}
/*/footer*/
.details-container{
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 224px;
}
.footer-text1,.footer-text2,.summary-text,.brand-text{
    font-weight: 400;
    font-size: 11.89px;
    color: rgba(255, 255, 255, 1);
}
.input-wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 5px;
    min-width: 250px;
    max-width: 260px;
}
.custom-hr{
    max-width: 278px;
    min-width: 269px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: rgba(25, 65, 101, 1);
    height: 1px;
    border: none;
    transform: translateX(-5px);
}
.footer-mobile{
    display: block;
    width: 100%;
    min-width: 327px;
    max-width: 330px;
    height: 880px;
    background-color: rgba(2, 21, 38, 1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap:20px;
    position: relative;
}
.email-input{
    width: 267px;
    height: 32.28px;
    font-size: 10.19px;
    font-weight: 400px;
    margin-right: -5px;
    padding-right: 10px;
}
.list-item1{
    font-weight: 400;
    font-size: 11.89px;
}
.accordion-summary{
    font-size: 14px;
    font-weight: 400;
    color: rgba(237, 237, 237, 1);
    cursor: pointer;
    list-style: none;
}
.summary-icon-footer{
    position:absolute;
    left: 6%;  
}
.summary-text-footer{
    padding-right: 30px;
    font-size: 14px;
    font-weight: 400;
}
.brand-text{
    font-size: 14px;
    color: rgba(237, 237, 237, 1);
    margin-bottom: 15px;
}
.about-fitland{
    font-size: 10.19px;
    font-weight: 400px;
    width: 100%;
    max-width: 312px;
    color:rgba(237, 237, 237, 1);
}
.about-fitland1{
    color:rgba(173, 173, 173, 1);
}
.about-fitland2{
    color: rgba(173, 173, 173, 1);
    font-size: 11.89px;
    font-weight: 400;
    list-style: none;
    margin-top: 5px;
}
.fitland-info{
    margin: 30px auto;
}
.red-color{
    color: red;
}
.media-wrapper{
    width: 100%;
    max-width:251px ;
    margin-right: 45px;
    margin-top: -20px;
}
.hr-line{
    width: 100%;
    max-width: 390px;
    border: none;
    height: 2px;
    background-color: rgba(203, 203, 203, 1);
}
.footer-branding{
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    gap: 20px;
    margin-top: -10px;
}
.media-item{
    width: 100%;
    max-width: 400px;
    font-weight: 400px;
    font-size: 8.49px;
    color: rgba(173, 173, 173, 1);
}
.media-item2{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.media-item3{
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.media-item4{
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-wrapper{
    min-width: 327px;
    max-width: 340px;
    height: 40px;
    margin: 0 auto;
    position: absolute;
    bottom: -3%;
    left: 0;
}
.input-icon{
    right: 13%;
    top: 19.5%;
}
.email-input{
    padding-right: 38px;
}
.btn-action{
    left: 25px;
    top: 19.3%;
}
.media-title{
    font-size: 10.19px;
}
.icon-list{
    padding-right: 20px;
    padding-top: 10px;
}




}


