*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "vazirmatn" , sans-serif;
}
body{
    background-color:  rgba(255, 255, 255, 1);
    line-height: 1.6;
    direction: rtl;
}
.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
/*header*/
.site-header{
    width: 100%;
    max-width: 1224px;
    margin:20px auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.header-wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*logo*/
.logo{
    width: 100%;
    max-width: 150.49px;
    height: auto;
    display: flex;
    flex-direction: column;
    transform: translateX(40px);
}
.logo-main{
    width: 100%;
    max-width: 150px;
}
.logo-sub{
    width: 100%;
    max-width:150.49px ;
    color: rgba(134, 134, 134, 1);
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}
/*header-search*/
.header-search{
    width: 100%;
    max-width: 638px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    position: relative;
}
.search-icon{
    position: absolute;
    right:18px;
    bottom: 3px;
}
.search-input{
    width: 100%;
    max-width: 640px;
    height: 48px;
    border-radius: 16px;
    border: 1px solid rgba(237, 237, 237, 1);
    padding-right:50px;
    font-size: 15px;  
    color:rgba(134, 134, 134, 1) ;
}
/*icons-wrapper*/
.icons-wrapper{
    width: 100%;
    max-width: 218px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 15px;
}
.icon-button{
    width: 100%;
    max-width: 72px;
    height: 48px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 15px #e0e0e0;
    border: 2px solid  rgba(255, 255, 255, 1);
    cursor: pointer;
    margin-right: auto;
} 
.icons-group{
    position: relative;
    margin-left: -30px;
    transform: translateY(2px);
    background:transparent;
    border: none;
} 
.big-circle{ 
    position: absolute;
    top:-5px;
    left:-6px;
    z-index: 1;
}
.small-circle{
    position: absolute;
    top:2px;
    left:-1px;
    z-index: 2;
}
/*main-nav*/
.main-nav{
    width: 100%;
    max-width: 1224px;
    margin: 25px auto;
    border-radius: 16px;
    background-color: rgba(249, 249, 249, 1);
    margin-top: px;
}
.nav-list{
    width: 100%;
    max-width: 1224px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-item{
    display: flex;
    flex-direction: row;
    gap: 43px;
    padding: 35px;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}
 .main-nav .menu-item{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.breadcrumb{
    display: flex;
    gap: 18px;
    padding-top: 20px;
}
.item{
    color: rgba(173, 173, 173, 1);
}
.arrow{
    margin-top: 5px;
}
.item-active{
    color: rgba(64, 64, 64, 1);
}
.item,.item-active{
    font-size: 16px;
    font-weight: 400;
}
/*/features*/
.price-filter {
    width: 260px;
}
.range-box {
    position: relative;
    height: 24px;
    margin:20px 0 15px 0;
}
.track {
    position: absolute;
    top: 50%;
    height: 3px;
    left: 15px;
    border-radius: 2px;
}
.track-gray {
    width: 223px;
    background:gray; 
}
.track-blue {
    width: 150px;        
    background:rgba(3, 35, 64, 1); 
}
.range-box input[type="range"] {
    position: absolute;
    width: 100%;
    background: none;
    pointer-events: none;
   -webkit-appearance: none;
}
.range-box input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background:white;
    border: 4px solid rgba(3, 35, 64, 1);
   -webkit-appearance: none;
    margin-top: 6px;
}
.range-box input[type="range"]::-webkit-slider-runnable-track {
    background: transparent;
}
.label {
    position: absolute;
    top: 100%;
    margin-top: 6px;
    font-size: 11px;
    color: #6b7280;
}
.label.min {
    left: -5px;
}
.label.max {
    right: 7px;
}
.label.min,.label.max{
    font-size: 10px;
    font-weight: 400;
    color: rgba(0, 3, 6, 1);
    top: 17px;
}
.filters-range-label{
    font-size: 14px;
    font-weight: 400;
}
.features-title{
    display: flex;
    justify-content: space-between;
    color:black;
}
.filters-range-input{
    font-size:10px ;
    font-weight:400 ;
    max-width: 200px;
    min-width:196px ;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: rgba(237, 237, 237, 1);
    padding-right: 20px;
}
.features-toggle-group{
    transform: translateY(10px);
}
.features-toggle-item{
    transform: translateY(-13px);
}
.features-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features-label {
  font-size: 14px;
  color:black;
}
.features-switch{
  position: relative;
  max-width: 60px;
  min-width: 48px;
  height: 28px;
  border-radius: 24px;
}
.features-switch input {
  display: none;
}
.features-switch-slider{
  position: absolute;
  inset: 0;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.features-switch-slider::before {
  content: "";
  position: absolute;
  min-width:20px ;
  max-width:30px;
  height: 20px;
  left: 2px;
  top: 4px;
  background-color:rgba(255, 255, 255, 1);
  border-radius: 50%;
  transition: 0.3s;
}
.features-switch input:checked + .features-switch-slider {
  background: rgba(2, 21, 38, 1); 
}
.features-switch input:checked + .features-switch-slider::before {
  transform: translateX(20px);
}
.filters-summary{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
details[open] .filters-summary-icon{
  transform: rotate(180deg) scale(1.1); 
}
.features{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
}
.features-filter{
    width: 100%;
    max-width: 310px;
    height:406px;
    border-radius: 16px;
    border: 1px solid rgba(203, 203, 203, 1);
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px 27px 27px;
}
.features-filter:has(details[open]){
    min-height: 860px;
}
.filters-range{
    padding-right: 8px;
    padding-top: 30px; 
    display: flex;
    gap: 10px;
}
.filter-range-box{
    padding-right: 17px;
    padding-top: 20px;
}
.filters-colors{
    transform:translateY(5px);
    padding-top: 20px;
    display: flex;
    gap: 10px;
}
.products-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.filters-range-value{
    font-size: 10px;
    font-weight: 400;
    transform: translateY(20px);
}
.products-info{
    display: flex;
    gap: 30px;
}
.gallery{
    display: grid;
    grid-template-columns:repeat(3,288px) ;
    grid-template-rows:repeat(4,430px);
    gap: 24px;
    padding-top: 20px;
}
.product-card{
    width: 100%;
    max-width: 288px;
    border-radius: 16px 16px 0 0 ;
    background-color: rgba(249, 249, 249, 1);
    position: relative;
}
.products-badge{
    padding-right: 15px;
    color: rgba(250, 84, 28, 1);
    position: relative;
}
.products-badge::after{
    content: "";
    position: absolute;
    background-color:rgba(250, 84, 28, 1) ;
    height: 2px;
    width: 100%;
    bottom: -5px;
    right: 8px;
}
.product-card-image{
    width: 100%;
    height: 280px;
    object-fit: cover;
}
.product-card-badge{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.product-card-title{
    font-weight: 400;
    font-size: 14px;
    color: rgba(1, 7, 13, 1);
}
.product-card-size{
    font-weight: 400;
    font-size: 12px;
    color: rgba(1, 7, 13, 1);
}
.product-card-price{
    font-weight: 400;
    font-size: 14px;
    color: rgba(1, 7, 13, 1);
}
.product-card-content{
    padding-right: 7px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.product-card-color-options{
    margin-right: -8px;
}
.filters-sizes-btn{
    width: 100%;
    min-width: 79px;
    max-width: 90px;
    height: 24px;
    background-color:rgba(237, 237, 237, 1);
    border-radius: 4px;
    border: none;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 3, 6, 1);
}
.filters-sizes-row{
    display:flex;
    flex-direction: column;
    gap: 12px;
}
.filters-sizes{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-top: 20px;
}
.filters-brand-row{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.filters-brands{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-top: 10px;
}
.filters-color{
    width: 24px;
    height: 24px;
    border-radius: 20px;
    border: none;
}
.product-card-img{
    width: 100%;
    height: 160px;
}
.product-card-sizes{
    width: 100%;
    min-height: 135px;
    background-color: rgba(203, 203, 203, 1);
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding:20px 30px;
    transform: translateY(-30px);
}
.product-card-info{
    display: flex;
    flex-direction: column;
    gap: 13px;
    position: absolute;
    bottom: 1%;
    right: 3%;
}
.product-card-size-btn{
    width: 100%;
    max-width:50px ;
    min-width: 40px;
    height: 41px;
    background-color: rgba(249, 249, 249, 1);
    font-weight: 400;
    font-size: 16px;
    color: rgba(1, 7, 13, 1);
    border: none;
}
.product-card-images{ 
    transform: translateX(5px);
}
.product-card-size-row{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.filters-color-pink{
    background-color: rgba(255, 32, 139, 1);
}
.filters-color-orange{
    background-color:rgba(250, 84, 28, 1);
}
.filters-color-blue{
    background-color: rgba(64, 60, 251, 1);
}
.filters-color-red{
    background-color: rgba(251, 60, 60, 1);
}
.filters-color-yellow{
    background-color: rgba(251, 244, 60, 1);
}
.filters-color-green{
    background-color:rgba(63, 204, 136, 1);
}
.filters-color-dark-blue{
    background-color:rgba(3, 35, 64, 1);
}
.filters-search-input{
    width: 100%;
    min-width: 252px;
    max-width: 260px;
    height: 32px;
    background-color: rgba(237, 237, 237, 1);
    border-radius: 16px;
    border: none;
    font-size:10px ;
    font-weight: 400;
    color: rgba(173, 173, 173, 1);
    padding-right: 40px;
}
.filters-brand-btn{
    width: 100%;
    min-width: 75px;
    max-width:80px ;
    height: 28px;
    border-radius: 4px;
    border: none;
    background-color: rgba(237, 237, 237, 1);
    font-size: 10px;
    font-weight: 400;
    color:rgba(0, 3, 6, 1) ;
}
.filters-search-icon{
    position: absolute;
    top: 35%;
    right: 5%;
}
.filters-search{
    position: relative;
    padding-top: 10px;
}
.pagination-arrow{
    display: inline-flex;
    min-width: 24px;
    max-width: 30px;
    height: 24px;
    background-color: rgba(237, 237, 237, 1);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}
.pagination-link{
    width: 100%;
    max-width: 50px;
    min-width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(1, 10, 19, 1);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination{
    display: flex;
    justify-content: center;
    gap: 37px;
    padding-top: 40px;
}
.pagination-item,.pagination-item-active{
    font-size:14px ;
    font-weight: 500;
    color:rgba(1, 7, 13, 1) ;
}
.pagination-item-active{
    color: rgba(255, 255, 255, 1);
}
/*footer*/
.footer{
    width: 100%;
    max-width: 1330px;
    background-color:rgba(2, 21, 38, 1) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px auto;
}
.footer-widgets{
    min-width: 1100px;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 40px auto;
    gap: 60px;
}
.list-item-footer{
    color: rgba(203, 203, 203, 1);
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.footer-text{
    color: rgba(255, 255, 255, 1);
    margin-right: -20px;
}
.footer-text-muted{
    color: rgba(255, 255, 255, 1);
    padding-bottom: 15px;
}
.list-item-footer,.footer-text,.footer-text-muted{
    font-size: 12px;
    font-weight: 400;
}
.newsletter-input{
    width: 100%;
    min-width: 330px;
    max-width: 350px;
    height: 38px;
    border-radius: 6.8px;
    border: 0.85px solid rgba(134, 134, 134, 1);
    font-weight: 400;
    font-size: 10px;
    color: rgba(134, 134, 134, 1);
    background-color: rgba(2, 21, 38, 1);
    padding-right: 35px;
}
.newsletter-submit{
    width: 100%;
    min-width: 50px;
    max-width: 55px;
    height: 24px;
    background-color:rgba(250, 84, 28, 1) ;
    border-radius: 3.4px;
    border: none;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    bottom: 13%;
    left: -15%;
}
.footer-note{
    font-size:10.19px ;
    font-weight: 400;
    color: rgba(249, 249, 249, 1);
}
.footer-bottom{
    width: 100%;
    max-width: 1350px;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-top: 2px solid rgba(203, 203, 203, 1);
    padding: 0 70px;
}
.inline-text{
    font-size:8px ;
    font-weight:400 ;
    color:rgba(173, 173, 173, 1);
}
.footer-social-item{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 30px;
}
.footer-meta{
    width: 100%;
    max-width: 1125px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}
.footer-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 10.19px;
    color: rgba(249, 249, 249, 1);
    gap: 20px;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-list-offset{
    padding-right: 40px;
    margin-top: -10px;
}
.text-highlight{
    color: rgba(250, 84, 28, 1);
    padding-right: 10px;
}
.newsletter{
    width: 100%;
    max-width: 280px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:  center;
    gap: 5px;
    position: relative;
    margin-right: 40px;
}
.newsletter-icon{
    position: absolute;
    bottom: 15%;
    right: 5%;
}
.footer-description{
    padding-bottom: 10px; 
    padding-right: 25px;
}
.footer-icons{
    padding-bottom: 10px;
}
.icon-text{
    padding-left: 65px;
}
.newsletter-title{
    font-weight: 700;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}
input[type="checkbox"]{
    display: none;
}
/*/hamburger menu*/
 .header-mobile,.hamburger-toggle,.nav,.logo-mobile,.header-search-mobile,.icon-text-mobile,.icon-wrapper,.header-icons-mobile ,.products-mobile,.details-container,.fitland-info,.footer-image{
    display: none;
}
.header-wrapper{
    max-width: 1440px;
    padding: 16px;
    height: 86px;
    margin: 0 auto;
    position: relative;
}
.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    z-index:101 ;
}
.hamburger span {
    height: 4px;
    width: 20px;
    margin-top: 3px;
    background-color:rgba(3, 35, 64, 1);
    transition: all  0.3s ease;
}
@media(max-width:768px){
.hamburger-toggle,.nav,.logo-mobile,.header-search-mobile,.icon-text-mobile,.header-mobile,.icon-wrapper,.header-icons-mobile,.details-container,.footer-image,.fitland-info{
    display: block;
}
.main-nav,.logo,.header-search,.icons-wrapper,.breadcrumb,.gallery,.features-filter,.pagination,.products-info,.footer-info-inner,.footer-list{
    display: none;
}
.container{
    width: 100%;
    min-width: 360px;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    direction: rtl;
}
/*icon-text-mobile*/
.icon-text-mobile{
    width: 100%;
    max-width: 380px;
    min-width:310px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight:300;
}
.header-wrapper,.site-header ,.header-mobile{
    margin: 0px auto; 
}
/*/hamburger-menu-for-mobile*/
.icon-wrapper{
    order: 3;
}
.logo-mobile{
    order:2;
}
.mobile-logo{
    width:100%;
    max-width: 95px;
    min-width:89px ;
    height: 19px;
    letter-spacing: 10px;
}
.hamburger{
    display: flex;
    order: 1;
}
.nav{
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    margin-right: 30px;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    background-color:rgba(255,84,28,1);
    flex-direction: column;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 3s ease;
}
.nav-list-header{
    display: flex;
    list-style: none;
    gap: 80px;
    flex-direction: column;
    gap:0;
    width:100%;
}
.nav-item-header a {
    color:blueviolet;
    text-decoration: none;
}
.nav .nav-item-header {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(237,237,237,1);
    display:flex;
    align-items: center;
}
.header-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.logo-hamburger-mobile{
    width: 100%;
    max-width: 360px;
    min-width: 310px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.hamburger-toggle:checked ~ .nav {
    max-height: 500px;
}
.header-search-mobile{
    width: 100%;
    min-width: 310px;
    max-width: 360px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    padding-right: 10px;
}
.search-icon-mobile{
    position: absolute;
    z-index: 10;
    top: 7px;
    right: 30px;
}
.search-input-mobile{
    width: 100%;
    min-width: 310px;
    max-width: 370px;
    height: 40px;
    border-radius: 16px;
    background-color:rgba(249, 249, 249, 1);
    padding-right: 55px;
    z-index: 7;
    border: none;
    font-weight: 400;
    font-size: 12px;
    color: rgba(134, 134, 134, 1);
}
.header-wrapper{
    height: auto;
    flex-wrap: wrap;
    position: relative;
}
.header-icons-mobile{
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: center;
    gap: 60px;
    margin-top: -10px;
}
.header-icon-text{
    font-size:14px ;
    font-weight:400 ;
}
.header-icon-box{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/*products-mobile*/
.products-mobile{
    width: 100%;
    min-width: 310px;
    max-width: 370px;
    display: block;
    display: grid;
    grid-template-columns: 312px;
    grid-template-rows: 134px 134px 134px 134px 134px 134px 134px 134px 134px ;
    gap: 20px;
    align-content: center;
    justify-content: center;
    padding-right: 5px;
    margin: 10px auto;
    padding-bottom: 40px;
}
.product-card-mobile{
    background-color: rgba(249, 249, 249, 1);
    border-radius: 16px;
    display: flex;
    gap: 25px;
}
.product-card-header{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.product-card-title-mobile{
    width: 82px;
    height: 1px;
    margin-right: -10px;
}
.product-card-sizes-mobile{
    font-size:10px ;
    font-weight:400 ;
}
.product-card-price-current,.product-card-price-old,.product-card-title-mobile{
    font-size: 12px;
    font-weight: 400;
}
.product-card-price-old{
    color: rgba(134, 134, 134, 1);
}
.icon-stars{
    width:100px;
    height: 15px;
}
.product-card-content{
    display:flex;
    flex-direction:column;
    gap: 15px;
}
.product-card-prices{
    width: 193px;
    height: 19px;
}
.product-card-colors{
    margin-right: -10px;
}
.product-card-media{
    width: 100%;
    min-width: 103px;
    max-width: 120px;
    position: relative;
    height: 134px;
}
.product-card-image-mobile{
    position: absolute;
    top: 0px;
    right: 0px;
}
/*/footer*/
.details-container{
    width: 100%;
    min-width: 312px;
    max-width: 320px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 224px;
    margin: 0 auto;
}
.media-title{
    padding-bottom: 10px;
}
.summary-text-footer{
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}
.footer-icons{
    padding: 20px 20px 20px 0;
}
.footer-text-secondary{
    padding-bottom: 10px;
}
.newsletter{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    gap: 0;
    min-width: 360px;
    max-width: 380px;
    padding-right: 20px;
    margin-right: 0;
}
.footer{
    display: block;
    width: 100%;
    min-width: 360px;
    max-width: 400px;
    background-color: rgba(2, 21, 38, 1);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.newsletter-input{
    width: 100%;
    min-width: 312px;
    max-width: 320px;
    margin: 0 auto;
}
.newsletter-input,.footer-list-item{
    font-weight: 400;
    font-size: 12px;
}
.brand-text{
    font-size: 14px;
    color: rgba(237, 237, 237, 1);
    margin-bottom: 20px;
    padding-top: 50px;
}
.about-fitland{
    font-size: 12px;
    width: 100%;
    max-width: 312px;
    color:rgba(237, 237, 237, 1);
}
.footer-about-muted{
    color:rgba(173, 173, 173, 0.393);
}
.footer-about-item{
    color: rgba(173, 173, 173, 1);
    font-size: 14px;
    list-style: none;
    padding:10px 0 20px 0;
    text-decoration: underline;
    text-underline-offset: 6px;
}
.text-danger{
    color:red;
}
.footer-social{
    width: 100%;
    margin: 0 auto;
    max-width:270px ;
    gap: 15px;
    padding-top: 15px;
}
.footer-bottom{
    display: flex;
    flex-direction: column;
    gap: 20px; 
    padding:10px 10px 40px 0;
}
.footer-social-item{
    color: rgba(173, 173, 173, 1);
    display: flex;
    align-items: flex-start;
    padding-right: 0;
}
.footer-bottom-social{
    width: 290px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.footer-bottom-item{
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.footer-trust{
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-image{
    width: 100%;
    min-width: 400px;
    max-width: 420px;
    height: 40px;
    margin: 0 auto;
}
.newsletter-icon{
    right: 13%;
    bottom:5%;
}
.newsletter-submit{
    left: 7%;
    bottom:4%;
}
.fitland-info{
    margin-right: 40px;
}
.footer-description,.footer-icons{
    margin: 0 auto;
    font-size: 14px;
    padding-right: 0;
}
.footer-widgets{
    margin: 20px auto;
    padding-right: 0px;
}
.mibashad{
    display: block;
    text-align: center;
}
.accordion-summary-footer{
    margin: 0 auto;
    font-weight: 400;
    color: rgba(237, 237, 237, 1);
    cursor: pointer;
    list-style: none;
}
.summary-icon-footer{
    position:absolute;
    left: 9%;  
}
.accordion-summary-footer,.summary-text-footer{
    font-size: 14px;
}
.custom-hr{
    width: 100%;
    max-width: 312px;
    min-width: 320px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: rgba(25, 65, 101, 1);
    height: 1px;
    border: none;
}
.inline-text{
    font-size: 11px;
}
.newsletter-title{
    padding-bottom: 10px;
    margin-right: 20px;
}
.footer-social-item-mobile{
    padding-right: 10px;
}


}