*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "vazirmatn" , sans-serif;
}
body{
    background-color:  rgba(255, 255, 255, 1);
    line-height: 1.6;
    direction: rtl;
}
.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
/*header*/
.site-header{
    width: 100%;
    max-width: 1224px;
    margin:20px auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.header-wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*logo*/
.logo{
    width: 100%;
    max-width: 150.49px;
    height: auto;
    display: flex;
    flex-direction: column;
    transform: translateX(40px);
}
.logo-main{
    width: 100%;
    max-width: 150px;
}
.logo-sub{
    width: 100%;
    max-width:150.49px ;
    color: rgba(134, 134, 134, 1);
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}
/*header-search*/
.header-search{
    width: 100%;
    max-width: 638px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    position: relative;
}
.search-icon{
    position: absolute;
    right:18px;
    bottom: 3px;
}
.search-input{
    width: 100%;
    max-width: 640px;
    height: 48px;
    border-radius: 16px;
    border: 1px solid rgba(237, 237, 237, 1);
    padding-right:50px;
    font-size: 15px;  
    color:rgba(134, 134, 134, 1) ;
}
/*icons-wrapper*/
.icons-wrapper{
    width: 100%;
    max-width: 218px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 15px;
}
.icon-button{
    width: 100%;
    max-width: 72px;
    height: 48px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 15px #e0e0e0;
    border: 2px solid  rgba(255, 255, 255, 1);
    cursor: pointer;
    margin-right: auto;
} 
.icons-group{
    position: relative;
    margin-left: -30px;
    transform: translateY(2px);
} 
.big-circle{ 
    position: absolute;
    top:-5px;
    left:-6px;
    z-index: 1;
}
.small-circle{
    position: absolute;
    top:2px;
    left:-1px;
    z-index: 2;
}
/*main-nav*/
.main-nav{
    width: 100%;
    max-width: 1224px;
    margin: 25px auto;
    border-radius: 16px;
    background-color: rgba(249, 249, 249, 1);
    margin-top: px;
}
.nav-list{
    max-width: 1224px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-item{
    display: flex;
    flex-direction: row;
    gap: 43px;
    padding: 35px;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}
 .main-nav .menu-item{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.breadcrumb{
    display: flex;
    gap: 18px;
    padding-top: 20px;
}
.item{
    font-size: 16px;
    font-weight:400 ;
    color: rgba(173, 173, 173, 1);
}
.arrow{
    margin-top: 5px;
}
.item-active{
    font-size: 16px;
    font-weight: 400;
    color: rgba(64, 64, 64, 1);
}
/*/features-section*/
.text-min-max{
    font-size: 14px;
    font-weight: 400;
}
.text-group{
    display: flex;
    justify-content: space-between;
    color:black;
}
.input-min-max{
    font-size:10px ;
    font-weight:400 ;
    max-width: 200px;
    min-width:196px ;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: rgba(237, 237, 237, 1);
    padding-right: 20px;
}
.input-group{
    transform: translateY(10px);
}
.input2-group{
    transform: translateY(-13px);
}
.filter-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Vazirmatn, sans-serif;
}
.filter-label {
  font-size: 14px;
  color:black;
}
.toggle-switch {
  position: relative;
  max-width: 60px;
  min-width: 48px;
  height: 28px;
  border-radius: 24px;
}
.toggle-switch input {
  display: none;
}
.text-color{
    color:black;
}
.slider {
  position: absolute;
  inset: 0;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.slider::before {
  content: "";
  position: absolute;
  min-width:20px ;
  max-width:30px;
  height: 20px;
  left: 2px;
  top: 4px;
  background-color:rgba(255, 255, 255, 1);
  border-radius: 50%;
  transition: 0.3s;
}
.toggle-switch input:checked + .slider {
  background: rgba(2, 21, 38, 1); 
}
.toggle-switch input:checked + .slider::before {
  transform: translateX(20px);
}
.accordion-summary{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
details[open] .summary-icon{
  transform: rotate(180deg) scale(1.1); 
}
.features-section{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
}
.filter-box{
    max-width: 310px;
    min-width: 288px;
    height: 406px;
    border-radius: 16px;
    border: 1px solid rgba(203, 203, 203, 1);
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px 27px 27px;
}
.filter-box:has(details[open]){
    height: 794px;
}
.range-box{
    padding-right: 8px;
    padding-top: 30px; 
    display: flex;
    gap: 10px;
}
.rang1-box{
    padding-right: 17px;
    padding-top: 20px;
}
.box-color-circles{
    transform:translateY(5px);
    padding-top: 20px;
    display: flex;
    gap: 10px;
}
.product-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.size-word{
    font-size: 10px;
    font-weight: 400;
    transform: translateY(20px);
}
.text-box{
    display: flex;
    gap: 30px;
}
.galerry{
    display: grid;
    grid-template-columns:288px 288px 288px ;
    grid-template-rows: 430px 430px 430px 430px;
    gap: 24px;
    padding-top: 20px;
}
.promo-box{
    max-width: 288px;
    height: 430px;
    border-radius: 16px 16px 0 0 ;
    background-color: rgba(249, 249, 249, 1);
    position: relative;
}
.underline{
    max-width:90px ;
    height: 2px;
    background-color: rgba(250, 84, 28, 1);
    margin-right: 7px;
}
.popular-title{
    padding-right: 15px;
}
.promo-box-img{
    max-width: 288px;
    height: 280px;
}
.icon-img-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.dress-woman{
    font-weight: 400;
    font-size: 14px;
    color: rgba(1, 7, 13, 1);
}
.dress-size{
    font-weight: 400;
    font-size: 12px;
    color: rgba(1, 7, 13, 1);
}
.dress-price{
    font-size: 14px;
    font-weight: 400;
    color: rgba(1, 7, 13, 1);
}
.space-from-right{
    padding-right: 7px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.color-selector{
    margin-right: -8px;
}
.btn{
    min-width: 79px;
    max-width: 80px;
    height: 24px;
    background-color:rgba(237, 237, 237, 1);
    border-radius: 4px;
    border: none;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 3, 6, 1);
}
.btn-box{
    display:flex;
    flex-direction: column;
    gap: 12px;
}
.button-box{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-top: 20px;
}
.box-btn{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.box-btns{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-top: 10px;
}
.circle{
    width: 24px;
    height: 24px;
    border-radius: 20px;
    border: none;
}
.promo-box-img1{
    max-width: 300px;
    min-width: 288px;
    height: 160px;
}
.btn-group{
    max-width: 300px;
    min-width: 288px;
    height: 135px;
    background-color: rgba(203, 203, 203, 1);
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding:20px 30px;
    transform: translateY(-30px);
}
.group-text{
    display: flex;
    flex-direction: column;
    gap: 13px;
    position: absolute;
    bottom: 1%;
    right: 3%;
}
.btn-size{
    max-width:50px ;
    min-width: 40px;
    height: 41px;
    background-color: rgba(249, 249, 249, 1);
    font-weight: 400;
    font-size: 16px;
    color: rgba(1, 7, 13, 1);
    border: none;
}
.pictures{ 
    transform: translateX(5px);
}
.box-size{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.circle-pinck{
    background-color: rgba(255, 32, 139, 1);
}
.circle-orange{
    background-color:rgba(250, 84, 28, 1);
}
.circle-blue{
    background-color: rgba(64, 60, 251, 1);
}
.circle-red{
    background-color: rgba(251, 60, 60, 1);
}
.circle-yellow{
    background-color: rgba(251, 244, 60, 1);
}
.circle-green{
    background-color:rgba(63, 204, 136, 1);
}
.circle-dark-blue{
    background-color:rgba(3, 35, 64, 1);
}
.input-search{
    min-width: 252px;
    max-width: 260px;
    height: 32px;
    background-color: rgba(237, 237, 237, 1);
    border-radius: 16px;
    border: none;
    font-size:10px ;
    font-weight: 400;
    color: rgba(173, 173, 173, 1);
    padding-right: 40px;
}
.btn-brand{
    min-width: 75px;
    max-width:80px ;
    height: 28px;
    border-radius: 4px;
    border: none;
    background-color: rgba(237, 237, 237, 1);
    font-size: 10px;
    font-weight: 400;
    color:rgba(0, 3, 6, 1) ;
}
.icon-search{
    position: absolute;
    top: 35%;
    right: 5%;
}
.search-box{
    position: relative;
    padding-top: 10px;
}
.pointer{
    display: inline-flex;
    min-width: 24px;
    max-width: 30px;
    height: 24px;
    background-color: rgba(237, 237, 237, 1);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}
.number{
    max-width: 50px;
    min-width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(1, 10, 19, 1);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-number{
    display: flex;
    justify-content: center;
    gap: 37px;
    padding-top: 40px;
}
.number-color{
    font-size:14px ;
    font-weight: 500;
    color:rgba(1, 7, 13, 1) ;
}
.number4-color{
    font-size:14px ;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
/*footer*/
.footer-content{
    max-width: 1440px;
    height: 558px;
    background-color:rgba(2, 21, 38, 1) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px auto;
}
.footer-weidget{
   max-width: 1440px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   gap: 50px;
   padding-right: 30px;
   padding: 30px 50px 0 60px;
}
.footer-list{
   color: rgba(203, 203, 203, 1);
   display: flex;
   flex-direction: column;
   gap: 25px;
}
.footer-menu{
   padding-top: 50px;
   padding-right: 30px;
}
.footer-text{
   font-weight: 400;
   font-size: 14px; 
   color: rgba(255, 255, 255, 1);
}
.list-item{
   font-weight: 400;
   font-size: 14px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.footer-links{
   padding-top: 60px;
}
.orange-text{
   color: rgba(250, 84, 28, 1);
}
.action-box{
    position: relative;
    padding-left: 50px;
    padding-top: 50px;
    margin-right: auto;
}
.footer-text1{
    font-weight: 400;
    font-size: 14px;
    color: rgba(249, 249, 249, 1);
    margin-bottom: 25px;
} 
.icon-list{
    margin-bottom: 20px;
}
.footer-text2{
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    color:  rgba(249, 249, 249, 1);
    margin-bottom: 10px;
}
.input-icon{
    position: absolute;
    right: 3%;
    transform: translateX(-25px); 
    transform: translateY(10px);
}
.email-input{
   width: 100%;
   min-width: 330px;
   max-width: 360px;
   height: 38px;
   border-radius: 8px;  
   border:1px solid rgba(134, 134, 134, 1);
   color: rgba(134, 134, 134, 1);
   background-color: rgba(2, 21, 38, 1);
   padding-right: 35px;
}
.btn-action{
   width: 100%;
   max-width: 50px;
   height: 24px;
   border-radius: 4px;
   background-color: rgba(250, 84, 28, 1);
   color: rgba(249, 249, 249, 1);
   position: absolute;
   left: 15%;
   transform: translateY(8px);
}
.list-item1{
    font-size: 14px;
    font-weight: 700;
    color: rgba(249, 249, 249, 1);
}
.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(249, 249, 249, 1);
    padding: 0 30px 0 50px;
}
.footer-info-inner{
    font-weight: 700;
    font-size: 12px;
    max-width: 700px;
    height:90px ;
    margin-top: -20px;
    padding-right: 30px;
}
.brand-text{
    line-height: 50px;
    font-size: 14px;
    font-weight: 400;
}
.font-text{
    font-size: 12px;
    font-weight: 400;
}
.media-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 20px;
    margin-right: auto;
    padding-left: 55px;   
}
.media-title{
    font-weight: 400;
    font-size: 12px;
    color: rgba(249, 249, 249, 1);
}
.media-box{
    width: 100%;
    height: 50px;
    border-top: 1px solid rgba(203, 203, 203, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 10px;
    color: rgba(173, 173, 173, 1);
    margin: 0 auto;
    padding: 30px 50px ;
}
.media-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.media-item1{
    padding-left: 40px;
}


